<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, viewport-fit=cover" />
   
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="" />
    <title>{{ title }}</title>

   
    <link rel="icon" href="{{ icon }}" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{{ icon }}">
    <meta name="theme-color" content="black" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="{{ title }}">
    <meta name="msapplication-TileImage" content="{{ icon }}">
    <meta name="msapplication-TileColor" content="#000">

   

    <link rel="stylesheet" href="{{ css }}" />
   
</head>

<body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="load-preloader"
        style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: white; display: flex; justify-content: center; align-items: center;">
        <span class="init-loader"></span>
    </div>
    <div id="root"></div>
</body>

<script url="{{ apiUrl }}" src="{{ js }}"></script>

<style>
    .init-loader {
        width: 38px;
        height: 38px;
        border: 3px solid;

        border-color: {{ color }} transparent;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>

</html>
